! ─── FONT ───────────────────────────────────────────
URxvt*font: xft:JetBrains Mono:size=12
URxvt*boldFont: xft:JetBrains Mono:bold:size=12

URxvt*termName: xterm-256color
URxvt*scrollBar: false

! ─── COLORS: Catppuccin Mocha ───────────────────────
*.foreground:   #cdd6f4
*.background:   #1e1e2e
*.cursorColor:  #f5e0dc

! Black
*.color0: #45475a
*.color8: #585b70

! Red
*.color1: #f38ba8
*.color9: #f38ba8

! Green
*.color2: #a6e3a1
*.color10: #a6e3a1

! Yellow
*.color3: #f9e2af
*.color11: #f9e2af

! Blue
*.color4: #89b4fa
*.color12: #89b4fa

! Magenta
*.color5: #f5c2e7
*.color13: #f5c2e7

! Cyan
*.color6: #94e2d5
*.color14: #94e2d5

! White
*.color7: #bac2de
*.color15: #a6adc8

! ─── TABBED ─────────────────────────────────────────
URxvt.perl-ext-common: default,tabbed
URxvt.tabbed.tabbar-bg: #313244
URxvt.tabbed.tabbar-fg: #cdd6f4
URxvt.tabbed.tab-bg:    #1e1e2e
URxvt.tabbed.tab-fg:    #cdd6f4
URxvt.tabbed.tab-active-bg: #45475a
URxvt.tabbed.tab-active-fg: #f5e0dc

URxvt.tabbed.new-button: false

! Keybinds
URxvt.keysym.Control-Shift-t: perl:tabbed:new_tab
URxvt.keysym.Control-Shift-w: perl:tabbed:close_tab
URxvt.keysym.Control-Shift-Right: perl:tabbed:next_tab
URxvt.keysym.Control-Shift-Left: perl:tabbed:prev_tab
