rofi {
    font: "JetBrains Mono 12";
    show-icons: true;
    color-window: #1e1e2e, #313244, #cdd6f4;
    color-normal: #1e1e2e, #313244, #cdd6f4, #1e1e2e, #cdd6f4;
    color-active: #45475a, #89b4fa, #f5e0dc, #45475a, #f5e0dc;
    color-urgent: #f38ba8, #1e1e2e, #f5e0dc, #f38ba8, #f5e0dc;
}
